@font-face {
  font-family: "yekan";
  src: url(./assets/BYekan.ttf);
}
*{
  font-family: "yekan";
}
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}


.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.bookImage {
  width: 40%;
}
.contentContainer {
  width: 60%;
}

@media (max-width: 768px) {
  .bookImage {
    width: 100%;
  }
  .contentContainer {
    width: 100%;
    
  }
}

